*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  gap: 0.5rem;
  margin: 0 auto;
  width: 500px;
  aspect-ratio: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr) min-content;
}

.cell {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  border: 3px solid black;
  border-radius: 15px;
}

.winning-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  z-index: 15;
  border: 2px solid black;
  width: 150px;
  aspect-ratio: 1;
  background-color: yellow;
}

.winning-modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.clost-btn {
  align-self: flex-end;
}

.overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

.timer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-row: 4;
  grid-column: 3;
}
